*background:  #231a18
*foreground:  #fcfcf7
*cursorColor: #fcfcf7

! Normal Colours
*color0:  #282a2e
*color1:  #da5b6f
*color2:  #ba6e5b
*color3:  #de935f
*color4:  #6f8e61
*color5:  #f8d3a4
*color6:  #5a9d82
*color7:  #f2f2f2

! Highlight Colours
*color8:  #303338
*color9:  #f1747c
*color10: #e08872
*color11: #f0c674
*color12: #9bbb6e
*color13: #ffdeb4
*color14: #2ea89b
*color15: #f0f0f0

! Titlebar Colours
*titlebar: #6b4047

Xcursor.size : 24
